# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Logs
logs/
*.log

# Local cache
.cache/
.cache/puppeteer/

# Puppeteer browser downloads
chrome-win64/

# Google Cloud bucket key
config/extreme-ability-475608-c9-e702cd34fb5d.json
config/gcpbucket.json
config/*bucket*.json
config/*ability*.json
config/firebase-notify/*.json
config/firebase-notify/medico-doctor-9f3aa-firebase-adminsdk-fbsvc-d5a26cb8e9.json
config/firebase-notify/abhicares-partner-firebase-adminsdk-fbsvc-3af2fd3066.json
config/firebase-notify/gcpbucket.json
config/medico-patient-firebase-adminsdk-fbsvc-f6fe1f9a92.json
config/medico-doctor-9f3aa-firebase-adminsdk-fbsvc-c1467efdae.json
